<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Font-Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <!-- lab 1 and lab 2 -->
  <!-- <app-header></app-header>
  <app-about></app-about>
  <app-skills></app-skills>
  <app-portfolio></app-portfolio>
  <app-footer></app-footer> -->

  <!-- lab 2 -->
  <!-- <app-t2-navbar></app-t2-navbar>
  <app-t2-carousel></app-t2-carousel>
  <app-t2-header></app-t2-header>
  <app-t2-content></app-t2-content>
  <app-t2-footer></app-t2-footer> -->


  <!-- lab 3 -->
  <!-- <app-t3-navbar></app-t3-navbar>
  <app-t3-content></app-t3-content> -->

  <!-- Lab3 -->
  <!-- <app-t3-todo></app-t3-todo> -->

  <!-- Lab 4 -->
  <!-- <app-login></app-login>
  <app-reg></app-reg> -->



  <!-- lab 4 -->

</body>

</html>
