<section class="footer py-5 bg-dark text-white ">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="col-sm-4">
          <p class="fs-3 mb-1">GET IN TOUCH</p>
          <div>
            <span class="fs-5 me-2"><i class="fa-solid fa-envelope"></i></span>
            <span>kr12@hotmail.com</span>
          </div>
          <div>
            <span class="fs-5 me-2"><i class="fa-solid fa-phone"></i></span>
            <span>717-555-1234</span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="d-flex justify-content-center align-items-center">
            <a href="" class="fs-3 border border-white px-3 py-2 text-white ">CONTACT ME</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="text-end">
            <div>
              <span class="me-3 fs-3"><i class="fa-brands fa-linkedin"></i></span>
              <span class="me-3 fs-3"><i class="fa-brands fa-facebook-f"></i></span>
              <span class="me-5 fs-3"><i class="fa-brands fa-twitter"></i></span>
            </div>
            <p class="fs-4">Copyright &copy; 2019 KR</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
