<section class="about my-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="title text-center">
          <h1 class="fs-1">About Me</h1>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="info">
          <p class="mb-5">{{info}}</p>
          <a href="app.component.html" download="cv" class="d-inline-block bg-secondary text-white border border-white px-3 py-2">Download Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
